## Introduction
Because Pittsburgh is always called a food city, we decided to base our metric on density of food per Allegheny county zip code. By "food", we mean places that residents can buy food, like supermarkets, convenience stores, restaurants, and farmers markets. Combined, these places will give us a good idea of how much food there actually is per zip code. Some other options we explored included sorting dog names by neighborhood, health quality per zip code, and food quality per zip code.

## Metric
Our data sets are the following: 
* [Allegheny County Supermarkets and Convenience Stores](https://data.wprdc.org/dataset/allegheny-county-supermarkets-convenience-stores/resource/626357fa-c95d-465f-9a02-3121655b2b78)
* [Allegheny County Farmers Markets](https://data.wprdc.org/dataset/allegheny-county-farmers-markets-locations)
* [Allegheny County Restaurant Food Facility Inspections and Locations](https://data.wprdc.org/dataset/allegheny-county-restaurant-food-facility-inspection-violations)

Our metric is the amount of food facilities per zip code. We chose this specifically because all three of these data sets have a zip code listing. This makes it easier to combine all three of these datasets into one, as they all have a common column.

In [2]:
import pandas as pd
import numpy as np


Convenience store stuff

In [22]:
pd.set_option('precision', 0)
conveniencemarkets = pd.read_csv("data-conveniencesupermarkets.csv")
conveniencemarkets.drop(['Client ID', 'Legal Name', 'Start Date', 'Street #', 'Street Name', 'State', 'Lat', 'Lon', 'Accuracy', 'Category'], axis=1, inplace=True)
conveniencemarkets.sort_values('Zip').head(10)

                               Name    Zip
223                    DiLeo's Deli  15014
31                     CR Petroleum  15014
126                 7 Eleven #36135  15017
520                        Aldi #81  15017
290                     Getgo #3641  15017
549                 Giant Eagle #24  15017
197                    Co Go's #322  15017
425            South Fayette Sunoco  15017
607                Giant Eagle #641  15017
297  Gulf Gas Station - Bridgeville  15017

Restaurant stuff

In [15]:
restaurants = pd.read_csv('GeocodedFoodFacilities.csv')
restaurants.drop_duplicates(subset = ['facility_name','num'], keep = 'first', inplace = True)

restaurants = restaurants.loc[restaurants['description'] != 'Chain Retail/Convenience Store']
restaurants = restaurants.loc[restaurants['description'] != 'Retail/Convenience Store']
restaurants = restaurants.loc[restaurants['description'] != 'Chain Packaged Food Only']
restaurants = restaurants.loc[restaurants['municipal'] != 'Out Of County']

restaurants.drop(['id', 'num', 'street', 'city', 'state', 'municipal', 'category_cd', 'description', 'fdo', 'bus_st_date', 'p_code', 'seat_count', 'noroom', 'sq_feet', 'status', 'placard_st', 'x', 'y', 'address'], axis=1, inplace=True)

restaurants.sort_values('zip').head(10)

                                facility_name    zip
2993                          Berkey's Tavern  15003
557                          Fair Oaks Lounge  15003
3772                              Pizza Joe's  15003
5853                        The Halfway House  15006
1377        Bairdford United Methodist Church  15006
3444                       Edward's Ice Cream  15006
7865   St Victor Parish Activity Hall Kitchen  15006
7169                       Sweet B Sweet Shop  15007
5318                          Mr C's Pizzeria  15007
11109      Big Kahuna Hot Dogs (XLE4992) MFF3  15007

Farmers Market Stuff

In [17]:
farmersmarkets = pd.read_csv('2019_farmers-markets.csv')
farmersmarkets.drop(['Street_Address', 'City', 'State', 'Latitude', 'Longitude', 'Additional_Directions', 'Day_Time', 'Season', 'Affiliations'], axis=1, inplace=True)

farmersmarkets.sort_values('Zip').head(10)

                             Name    Zip
57  New Sheffield Farmer's Market  15001
64        Schiefelbein Farm Stand  15001
46          McConnell's Hill Farm  15001
18               Douds Floyd Farm  15001
0        Ambridge Farmer's Market  15003
30            Friel's Farm Market  15005
14          Clairton Green Grocer  15025
60             Olde World Produce  15025
39           Jodikinos Farm Stand  15026
38          Janoski's Farm Market  15026